<h5>Styles com property binding (style binding)</h5>

<div>
  <button
    [style.backgroundColor]="ativo ? 'blue' : 'grey'"
    [style.color]="ativo ? 'white' : 'black'"
    [style.fontWeight]="ativo ? 'bold' : 'normal'"
    [style.fontSize]="tamanhoFonte + 'px'"
    (click)="mudarAtivo()"
  >
    mudar atributo 'ativo'
  </button>
</div>

<div>
  <input type="text" [(ngModel)]="tamanhoFonte" />
</div>

<br />

<h5>Styles com diretiva ngStyle</h5>

<div>
  <button
    [ngStyle]="{
      backgroundColor: ativo ? 'blue' : 'grey',
      color: ativo ? 'white' : 'black',
      fontWeight: ativo ? 'bold' : 'normal',
      fontSize: tamanhoFonte + 'px'
    }"
    (click)="mudarAtivo()"
  >
    mudar atributo 'ativo'
  </button>
</div>
